.external-css{
    background-color: grey;
    border: solid 2px;
    display: inline-flex;
    justify-content: center;
}

button{
    padding: 15px;
    margin: 30px;
    border: solid 5px;
}